name: Test Github Actions Dynamic Matrix
on:
  workflow_dispatch:
  
jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.matrix.outputs.matrix }}
    steps:
      - id: matrix
        shell: python
        run: |
          import os
          import json
          matrix_obj = {"deploy":[], "file": ["q", "d", "f"]}
          matrix_obj["deploy"].append("prod")
          matrix_obj["file"].append("tt.yml")
          with open(os.environ['GITHUB_OUTPUT'], 'a') as fh:
            fh.write('matrix={json.dumps(matrix_obj)}')
          print(f"Final matrix string: {os.environ['GITHUB_OUTPUT']}")
      - run: |
          echo "${{ steps.matrix.outputs.matrix }}"
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        ${{fromJSON(needs.setup.outputs.matrix)}}
    steps:
      - run: |
          echo "${{ matrix }}"
          v=${{ matrix }}
          echo "$v[0]"
